//Styling for the hero section
.hero-con {
    img {
        width: 100%;
        max-width: 100%;
    }

    h2 {
        color: var(--clr-text);
        position: absolute;
        left: 40%;
        top: 32%;
        font-size: 16px;
        font-family: var(--font-heading);
    }
}

//Styling for the informational cards
#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card {
    width: 117px;
    height: 117px;
    margin: 2px;

    &:hover {
        cursor: pointer;
    }
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.card-front {
    border: 1px solid var(--clr-accent);
    border-radius: 10px;
    padding: 5px;
}

.card-back {
    transform: rotateY(180deg);
    border: 1px solid var(--clr-accent);
    border-radius: 10px;
    padding: 5px;
}

.card-front p {
    text-align: center;
    color: var(--clr-text);
}

.card-back p {
    text-align: center;
    color: var(--clr-text);
}

//styling for the 'coming-soon' section
#coming-soon {
    background-color: var(--clr-surface);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    p {
        color: var(--clr-text);
    }
}


//Media Queries

@media screen and (min-width: 768px) {
    .hero-con {
        h2 {
            font-size: 30px;
        }
    }

    #card-container {
        gap: 25px;
    }

    .card {
        width: 175px;
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-con {
        h2 {
            font-size: 45px;
        }
    }

    #card-container {
        gap: 35px;
    }

    .card {
        width: 225px;
        height: 225px;
    }
}