#footer {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: var(--clr-surface);

    section {
        height: 100%;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--clr-text);
        }
    }
}