.mainMemHeading {
    font-size: 36px;
    color: var(--clr-text);
}

.gamesHeading {
    font-size: 36px;
    color: var(--clr-text);
}

.gamesSubHeading {
    font-size: 24px;
    color: var(--clr-text);
}