.mainMemHeading {
    font-size: 36px;
    color: rgb(44, 17, 44);
}

.gamesHeading {
    font-size: 36px;
    color: rgb(44, 17, 44);
}

.gamesSubHeading {
    font-size: 24px;
    color: rgb(44, 17, 44);
}