#page-header {
    padding: 15px;
    border-bottom: 1px solid var(--clr-accent);
    margin-bottom: 30px;

    p {
        color: var(--clr-text);
    }

    #main-nav {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 25px;
            list-style-type: none;
            padding: 0px;

            li {
                a {
                    color: var(--clr-text);
                }
            }
        }
    }
}